body{
	background-color: #0091d0;
	font-family: "微软雅黑"
}
.fl{
	display: inline;
	float: left;
}
.fr{
	display: inline;
	float: right;
}
.clear{
	overflow: hidden;
}
.loaded .animal{
	-moz-transition: all 3s ease 0.3s;
	-webkit-transition: all 3s ease 0.3s;
	-o-transition: all 3s ease 0.3s;
	transition: all 3s ease 0.3s;
}
.container{
	width: 1280px;
	height: 720px;
	margin: 0 auto;
}
#loading{
	width: 340px;
	height: 30px;
	font-size: 50px;
	line-height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -170px;
	top: 50%;
	margin-top: -30px;
}