/* 这里定义浏览器重复样式 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,
article, aside, summary, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ 
	margin: 0; 
	padding: 0;
}
article, aside, summary, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  display: block;
}
table{ 
	border-collapse:collapse; 
	border-spacing:0;
}
fieldset,img { 
	border: 0; 
	vertical-align: middle;
}
address,caption,cite,code,dfn,em,strong,th,var { 
	font-style: normal; 
	font-weight: normal;
}
ul,ol{
	/*
	IE6 IE7 IE8(Q) 中如果列表元素设置 'list-style-type:none' 时 'list-style-position:inside' 设置产生的标记框不消失，依然占据布局位置。
	http://www.w3help.org/zh-cn/causes/RG1002
	*/
	list-style:outside none none;
}
q:before,q:after { 
	content: '';
}
abbr,acronym { 
	border: 0;
}
input, button, select{ 
	vertical-align: middle;
}
/*常用样式及整体风格*/

/*常用样式*/
.fl{
	float: left;
	display: inline;
}
.fr{
	float: right;
	display: inline;
}
html{
	height: 100%;
}
body{
	overflow: hidden;
	height: 100%;
}
.main{
	background-color: #666;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	zoom: 1;
}
.video-player{
	width: 60%;
	height: 100%;
}
.video-list{
	width: 40%;
	height: 100%;
	position: relative;
}
.video-list-c{
	width: 100%;
	height: 100%;
	position: relative;
}
.video-list div{
	/*width: 46%;*/
	/*margin: 2%;*/
	position: relative;
}
.video-list div:after{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background-image: url(./icon_play.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.video-list div.on:after{
	background-image: url(./icon_pause.png);
}
/*.video-list em{
	border: 5px solid #F45E5F;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}*/
.video-list div img{
	width: 100%;
	height: 100%;
}
.video-list div span{
	position: absolute;
	display: inline;
	bottom: 0px;
	left: 0px;
	background: url(./icon.png) no-repeat center left rgba(0,0,0,.5);
	
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	width: 100%;
	text-indent: 35px;
	color: #eee;
	font-weight: bold;
}
/*横屏*/
@media all and (orientation : landscape) {
	.video-player{
		float: left;
		display: inline;
	}
	.video-list{
		float: right;
		display: inline;
	}
	.video-list div{
		margin: 1%;
		width: 48%;
		height: 31.33%;
	}
}
/*竖屏*/
@media all and (orientation : portrait){
	.video-player{
		height: 60%;
		width: 100%;
	}
	.video-list{
		width: 100%;
		height: 40%;

	}
	.video-list div{
		margin: 1%;
		height: 47%;
		width: 31.33%;
	}
}