html,body{height: 100%;margin: 0;padding: 0;}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.fl{
	float: left;
	display: inline;
}
.fr{
	float: right;
	display: inline;
}
.relatve{
	position: relative;
	zoom: 1;
}
.clear{
	clear: both;
	overflow: hidden;
}
.container{height: 100%;}
.item{
	height: 100%;
	position: relative;
	overflow: hidden;
	width: 100%;
	zoom: 1;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	-ms-background-size: cover;
}
.sub_nav{
	position: fixed;
	z-index: 101;
	right: 100px;
	top: 50%;
	margin-top: 40px;
}
.sub_nav div{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #333;
	margin: 5px;
	border: 1px solid #333;
}
.sub_nav div.on{
	border: 1px solid #333;
	background: none;
}
.content{
	/*max-width: 1100px;
	min-width: 980px;*/
	padding: 0 10px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	border: 1px solid transparent;
	zoom: 1;
	overflow: hidden;
}
.logo{
	width: 520px;
	height: 60px;
	background-position: 0px 0;
	margin: 20px 0;
	position: absolute;
	left: 50%;
	margin-left: -504px;
	top: 10px;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	z-index: 101;
}

/*footer {*/
.footer{
	border-top: 4px solid #31c6f6;
	padding-top: 20px;
	height: 80px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.footer div{
	width: 450px;
	margin: 0 auto;
	text-align: center;
	color: #070002;
	font-size: 14px;
}

.footer a{
	color: #070002;
	text-decoration: none;
	display: inline-block;
	border-right: 1px solid #070002;
	padding: 0 10px;
}
.footer a.last{
	border-right: none;
}
.copyright{
	margin-top: 10px;
}
/*} footer*/

.item_aboutus{
	padding-top: 30px;
	background-color: #d3d8da;
	color: #404040;
	height: auto;
}
.item_aboutus .content{
	max-width: 1280px;
	min-width: 980px;
	margin: 0 auto;
}
.item_aboutus .split{
	background: url(../img/split.png) no-repeat right center;
}
.item_aboutus .title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
.location,
.tel,
.form{
	height: 380px;
}
.location{
	width: 30%;
	line-height: 30px;
}
.location img{
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
}
.tel{
	margin-left: 5%;
	width: 25%;
}
.tel a{
	color: #404040;
	text-decoration: none;
}
.tel a:hover{
	text-shadow: 1px 1px 2px white;
}
.tel li{
	background: url(../img/icon.png) no-repeat left 4px;
	padding: 8px 0;
	padding-left: 30px;
}
.tel li.tel_phone{
	background-position: left 4px;
}
.tel li.tel_fax{
	background-position: left -41px;
}
.tel li.tel_email{
	background-position: left -84px;
}
.form{
	margin-left: 5%;
	width: 35%;
}
.form p{
	margin: 3px;
}
.form input{
	width: 400px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	display: inline-block;
	height: 22px;
	padding: 4px 6px;
	margin-bottom: 11px;
	font-size: 15px;
	line-height: 22px;
	color: #555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
.form input.error{
	box-shadow: 0 0 10px red;
	border: 1px solid red;
}
.form .btn_submit{
	border-radius: 5px;
	text-align: center;
	color: white;
	background-color: #0077d9;
	height: 40px;
	line-height: 34px;
	width: 416px;
}
.copyright{
	width: 100%;
	background-color: #9ea5a7;
	height: 80px;
	line-height: 80px;
	color: white;
	text-align: center;
}

.btn_top{
	position: fixed;
	bottom: 100px;
	right: 100px;
	width: 20px;
	text-align: center;
	border: 1px solid #000;
	color: #000;
	border-radius: 3px;
	padding: 3px 0;
	cursor: pointer;
	background-color: white;
	display: none;
}