body{
	background-color: #0091d0;
	font-family: "微软雅黑"
}
.fl{
	display: inline;
	float: left;
}
.fr{
	display: inline;
	float: right;
}
.clear{
	overflow: hidden;
}
.loaded .animal{
	-moz-transition: all 3s ease 0.3s;
	-webkit-transition: all 3s ease 0.3s;
	-o-transition: all 3s ease 0.3s;
	transition: all 3s ease 0.3s;
}
.container{
	width: 1280px;
	height: 720px;
	margin: 0 auto;
	position: relative;
}
#loading{
	width: 400px;
	font-size: 50px;
	line-height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -30px;
	text-align: center;
}
#main{
	/*min-width: 1080px;*/
	max-width: 1238px;
	height: 700px;
	margin: 10px auto;
	overflow: hidden;
	display: none;
}
.loaded #loading{
	display: none;
}
.loaded #main{
	display: block;
}
.top_container{
	position: relative;
}
.top_left{
	width: 268px;
	height: 200px;
	padding: 10px;
	background-color: #414141;
}
.top_right{
	/*min-width: 772px;*/
}
.name{
	padding: 5px 0;
}
.date{
	background-color: #494949;
	font-size: 24px;
	color: #5ac7d9;
	font-weight: bold;
	padding: 1px;
}

.place_img{
	clear: both;
	margin-top: 10px;
}
.place_img img{
	width: 100%;
	height: 124px;
}
.box{
	background-color: #1a9cd5;
	text-align: center;
	margin-left: 1%;
	color: white;
	font-weight: bold;
	width: 250px;
	height: 220px;
	position: relative;
	width: 29%;
}
.info{
	/*padding: 60px auto;*/
	/*height: auto;*/
	width: 40%;
	margin: 0;
}
.info div{
	margin-top: 30px;
}
.temp{
	background-image: url(img/4.png);
	width: 67px;
	height: 154px;
	position: relative;
	margin-right: 10px;
	margin-left: 10%;
}
.temp span{
	position: absolute;
	width: 13px;
	height: 9px;
	bottom: 33px;
	right: 12px;
	background-color: #f60005;
}
.info .value{
	text-align: left;
	margin-right: 10%;
}
.info .value b{
	display: block;
	font-size: 60px;
}
.info .value span{
	display: block;
	font-size: 18px;
}

.wind{
	background-image: url(img/2.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}
.shushidu{
	background-image: url(img/1.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}
.wind .flag,
.shushidu .flag{
	position: absolute;
	top: 52px;
	left: 50%;
	margin-left: -9px;
	background: url(img/3.png) no-repeat;
	width: 19px;
	height: 160px;
	/*-webkit-transform: rotate(45deg);*/
	/*background-color: rgba(0,0,0,.4);*/
}
.shushidu .flag{
	top: 60px;
}
.wind .flag{
	background-position: -30px top;
}
.wind .text,
.shushidu .text{
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
}
.wind .text_inner,
.shushidu .text_inner{
	position: absolute;
	left: 0;
	bottom: 80px;
	width: 100%;
}
.shushidu .text_inner{
	bottom: 70px;
}

.data{
	margin-top: 10px;
	background-color: white;
}
.header{
	background: url(img/7.png);
	width: 100%;
	height: 56px;
}
.header img{
	position: absolute;
	left: 0;
	top: 0;
}
#line{
	/*height: 200px;*/
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	width: 95%;
}

.alarm{
	background: white;
	margin-top: 10px;
	line-height: 20px;
	padding: 5px 10px;
	display: none;
}
.alarm img{
	vertical-align: -5px;
	margin-right: 10px;
}